[Unit]
Description=RUVNAME default config generator
ConditionPathExists=|!/etc/ruvname.conf
ConditionFileNotEmpty=|!/etc/ruvname.conf
Wants=local-fs.target
After=local-fs.target

[Service]
Type=oneshot
User=ruvname
Group=ruvname
StandardOutput=file:/etc/ruvname.conf
ExecStart=/usr/bin/ruvname -g
